%section
  .container
    .row
      .logo
%section.gallery-section
  %ul.bxslider
    %li
      .twelvecol.last
        =image_tag 'projects/versa1.png'
        =image_tag 'projects/versa2.png'
        =image_tag 'projects/versa3.png'
        .project-desc.text-left
          %h2
            Versafleet
          .proj-desc
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consectetur nobis eos quidem distinctio porro amet suscipit numquam sed quo! Tempora, placeat, nostrum maxime laborum ex ducimus perspiciatis veniam pariatur et debitis eaque cumque aspernatur expedita quos alias sequi voluptatum rerum eius quo illum possimus. Atque, cum animi eveniet repellat!

    %li
      fsdfsdfs
    %li
      fddsfsdfs
    %li
      sdfsdfds
